@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Roboto+Condensed:wght@500&display=swap');

*{
    margin: 0;
}

body{
    background: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?t=st=1701422607~exp=1701423207~hmac=c838ae81b0e879875669180e0b79fe31d8d56209ea387798786887ccc4acd85d") no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    min-height: 100vh;
    color: white;
    font-family: 'Poppins' , sans-serif;
    backdrop-filter: blur(2.5px);
}

p{
    margin : 15px;
    margin-top: 30px;
}

.select-option{
    display: flex;
    justify-content: space-around;
}

.view-btn,
.create-btn{
    margin-top: 100px;
    height: 90px;
    width: 90px;
    border-radius: 45px;
    border: 0px solid black;
    background: transparent;
    cursor: pointer;
    transform: rotate(0deg);
    transition: background-color 0.4s, 
    transform 0.4s,
    box-shadow 0.4s
}


.view-btn:hover,
.create-btn:hover{
    background-color: rgba(165, 42, 42, 0.281);
    transform: rotate(360deg);
    border: solid 1px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.411);

}



.menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 30px;
    cursor: pointer;
}

li{
    list-style: none;
}

.option-menu{
    position: fixed;
    top: 75px;
    right: 20px;
    width: 175px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 0;
    transform: scaleY(0);
    transition: all 0.2s;
}



.unconnect,
.profile{
    transition: all 0.2s;
}

.unconnect:hover,
.profile:hover{
    letter-spacing: 2px;
}

